<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fake Pinterest{% endblock %}</title>
</head>

{% block body %}
<body>
    <h1>Site FakePinterest</h1>
    {% block formulario %}
        <form method="POST">
            {{ form.hidden_tag() }}
            
            {{form.email.label}}<br>
            {{form.email}}<br>
                     
            {{form.senha.label}}<br>
            {{form.senha}}<br>

            {{form.botao_confirmacao()}}
            

        </form>
    {% endblock %}
</body>
{% endblock %}

</html>